<div class="wrapper-body">
  <div class="navbar">
    <a href="/home">Home</a>
    <a href="/home/dropdown">Dropdown</a>
    <a href="/home/accordion">Accordion</a>
  </div>
  <div class="Content">
    <router-outlet></router-outlet>
  </div>
</div>