.drop-btn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.drop-btn:hover,
.drop-btn:focus {
  background-color: #2980B9;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}


.dropdown-btn {
  background: #0288D1;
  border: 1px solid #0288D1;
  border-radius: .25em;
  color: white;
  cursor: pointer;
  font-size: 1.5em;
  outline: 0;
}

.dropdown {
  background-color: #0288D1;
  border: none;
  border-radius: 0 .25em .25em .25em;
  display: none;
  width: 40%;
}

.dropdown-item {
  color: white;
  border-bottom: 1px solid white;
  display: block;
  padding: .5em 0;
  text-align: center;
  text-decoration: none;
}

.dropdown-item:first-child {
  border-top: 1px solid white;
  border-radius: 0 .25em 0 0;
}

.dropdown-item:last-child {
  border-radius: 0 0 .25em .25em;
}

.dropdown-item:hover {
  background-color: magenta;
}

/*
 Below is the only CSS necessary to make this example work. The dropdown directive will add or remove the .open class when the click event is emitted.
 
 Note: By default, the display property of an element with the .dropdown class is set to none. When the dropdown directive applies the .open class to the dropdown button, the below CSS will set the display property of the sibling div with a class of .dropdown to block, making it visible. 
*/

.open {
  border-radius: .25em .25em 0 0;
}

.open+.dropdown {
  display: block;
}
