<!-- <div class="dropdown">
  <button (click)="myFunction($event)" class="drop-btn">Dropdown</button>
  <div id="myDropdown" class="dropdown-content">
    <a href="#home">Home</a>
    <a href="#about">About</a>
    <a href="#contact">Contact</a>
  </div>
</div> -->

<div class="wrapper">

  <button appDropdown class="dropdown-btn" type="button">Menu</button>

  <div class="dropdown">
    <a href="https://medium.com/@kylerjohnson26" class="dropdown-item">Find me on Medium</a>
    <a href="https://twitter.com/KylerJohnson26" class="dropdown-item">Find me on Twitter</a>
    <a href="https://github.com/KylerJohnson26" class="dropdown-item">Find me on Github</a>
  </div>

</div>