<div class="title-accordion">
  <p>Demo Accordion</p>
</div>
<div class="form-accordion">
  <h2>Accordion</h2>
  <div class="wrapper-accordion" active>
    <button class="accordion">Section 1</button>
    <div class="panel">
      <p>text1.</p>
    </div>
  </div>
  <div class="wrapper-accordion" active>
    <button class="accordion">Section 2</button>
    <div class="panel">
      <p>text2.</p>
    </div>
  </div>
  <div class="wrapper-accordion" active>
    <button class="accordion">Section 3</button>
    <div class="panel">
      <p>text3.</p>
    </div>
  </div>
</div>